<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFFFFF">
    <title>{{title or "Blogifyr – Uncover Gems, Explore Worlds."}}</title>
    <meta name="robots" content="index,follow">
    <meta name="title" content="{{title or 'Blogifyr – Uncover Gems, Explore Worlds.'}}">
    <meta name="description" content="{{ description or 'Blogifyr: Dive into a world of captivating reads, absolutely free! Explore a myriad of topics meticulously curated to suit your interests.' }}">
      
    <!-- Twitter meta tags -->
    <meta name="twitter:description" content="{{ description or 'Blogifyr: Dive into a world of captivating reads, absolutely free! Explore a myriad of topics meticulously curated to suit your interests.' }}">
    <meta name="twitter:title" content="{{title or 'Blogifyr – Uncover Gems, Explore Worlds.'}}">
    <meta property="twitter:domain" content="{{ domain }}">
    <meta property="twitter:url" content="{{ url }}">
    <meta name="twitter:card" content="summary_large_image">
    <!-- Add other Twitter meta tags as needed -->
      
    <!-- Open Graph meta tags -->
    <meta property="og:description" content="{{ description or 'Blogifyr: Dive into a world of captivating reads, absolutely free! Explore a myriad of topics meticulously curated to suit your interests.' }}">
    <meta property="og:title" content="{{title or 'Blogifyr – Uncover Gems, Explore Worlds.'}}">
    <meta property="og:site_name" content="Blogifyr">
    <meta property="og:url" content="{{ url }}">
    <!-- Add other Open Graph meta tags as needed -->
      
 

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/icon.webp">
    
    <!-- CSS and JavaScript links -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/contentStyle.css">

    <script type="text/javascript" src="/static/js/index.js"></script>

    <script>
        // Function to add dark mode stylesheet
        function addDarkMode() {
            let head = document.getElementsByTagName('HEAD')[0];
            let link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = '/static/css/darkmode.css';
            link.id = 'dark-mode-stylesheet';  // Adding an id for easy removal
            head.appendChild(link);
        }

        // Function to remove dark mode stylesheet
        function removeDarkMode() {
            let darkModeStylesheet = document.getElementById('dark-mode-stylesheet');
            if (darkModeStylesheet) {
                darkModeStylesheet.parentNode.removeChild(darkModeStylesheet);
            }
        }

        function isDarkMode() {
            let darkModeStylesheet = document.getElementById('dark-mode-stylesheet');
            if (darkModeStylesheet) {
                return true;
            }
            return false;
        }

        function changeTheme(elem) {
            if(document.getElementById('dark-mode-stylesheet')){
                removeDarkMode();
            }else{
                addDarkMode();
            }   
        }

        </script>

    <!-- CDN link to include MathJax: fro LaTeX  -->
    <!-- <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script> -->



    {% block baseHead %}
    {% endblock %}

</head>
<body>
    {% block baseBody %}
    {% endblock %}
    <script>

        
        const checkbox = document.getElementById("checkbox")
        checkbox.checked = !isDarkMode();
        checkbox.addEventListener("change", () => {
            localStorage.setItem('darkmode', !checkbox.checked);
            console.log("darkmode set to: ", !checkbox.checked);
            if (checkbox.checked) removeDarkMode();
            else addDarkMode();
        })

        let darkmode = localStorage.getItem('darkmode');
        if (darkmode != null) {
            console.log(darkmode);
            if (darkmode==='true') {
                addDarkMode();
                checkbox.checked = false;
            }
        }else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                addDarkMode();
                checkbox.checked = false;
        }
    </script>

</body>
</html>